# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\online-taxi-project\online-taxi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
